.titulo_banner{
    color: rgba(255, 255, 255, 1);
    font-size: 44px;
    font-weight: 700;
    font-family: 'Pacifico', cursive;
    position: absolute;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
    
}