.titulo_sobre{
    color: rgba(141, 6, 6, 1);
    font-family: 'Pacifico', cursive;
    font-size: 51px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    

}

@media screen and (min-width: 0) {
    .titulo_sobre {
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .titulo_sobre {
        font-size: 3.1875rem;
    }
}

